body{
    background-image: url(images/bg-2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
}
.card{
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px;
    transition: all 0.3s ease;
}
#card-img:hover {
  transform: scale(1.05);
  border: 2px solid #f6f8f7;     
  box-shadow: 0 5px 5px white;
}
#card-img{
    height: 200px;
}
.nav-item{
      border: 2px solid white;
      border-radius: 15px;
      margin-left: 5px;
}
.nav-item:hover{
      background-color: blue;
      color: white;
}