body{
    background-image: url(images/bg-2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
}
#join-button{
    text-align: center;
    color: aliceblue;
}
.nav-item{
      border: 2px solid white;
      border-radius: 15px;
      margin-left: 5px;
}
.nav-item:hover{
      background-color: blue;
      color: white;
}
