body{
    background-image: url(images/bg-2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
}
#join-button{
    text-align: center;
    color: aliceblue;
}
