body{
    background-image: url(images/bg-2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
}
.container{
    margin-top: 80px;
}

.form-label{
    color: white;
}
nav{
    position: fixed;
}
form{
    width: 400px;
}